# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# VS Code
.vscode/

# macOS
.DS_Store

# Virtual environments
venv/
ENV/
env/
.venv/

# System files
*.swp
# Flutter build folders
ios/
macos/
# Dart tool artifacts
.dart_tool/
# VSCode logs
.firebase/logs/
